Package: me.devbug.viewsyslog
Name: viewsyslog
Version: 0.0.1
Architecture: iphoneos-arm
Description: Display syslog
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: System
Tag: role::hacker
